@model SalesWebMVC.Models.Seller
@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>
<h3>Create seller registration</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="col-form-labell">
                <label class="control-label" asp-for="Name">Name:</label>
                <input class="form-control" asp-for="Name"/>
            </div>
            <div class="col-form-label">
                <label class="control-label" asp-for="Email">Email:</label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="col-form-label">
                <label class="control-label" asp-for="BirthDate">BirthDate:</label>
                <input class="form-control" asp-for="BirthDate" />
            </div>
            <div class="col-form-label">
                <label class="control-label" asp-for="BaseSalary">BaseSalary:</label>
                <input class="form-control" asp-for="BaseSalary" />
            </div>
            <div class="col-form-label">
                <input class="btn btn-primary" type="submit" value="Create"/>
            </div>
        </form>
    </div>
</div>
