@model SalesWebMVC.Models.ViewModels.SellerFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>
<h3>Edit seller registration</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.ID"/>
            <div class="col-form-label">
                <label class="control-label" asp-for="Seller.Name">Name:</label>
                <input class="form-control" asp-for="Seller.Name" />
            </div>
            <div class="col-form-label">
                <label class="control-label" asp-for="Seller.Email">Email:</label>
                <input class="form-control" asp-for="Seller.Email" />
            </div>
            <div class="col-form-label">
                <label class="control-label" asp-for="Seller.BirthDate">BirthDate:</label>
                <input class="form-control" asp-for="Seller.BirthDate" />
            </div>
            <div class="col-form-label">
                <label class="control-label" asp-for="Seller.BaseSalary">BaseSalary:</label>
                <input class="form-control" asp-for="Seller.BaseSalary" />
            </div>
            <div class="col-form-label">
                <label class="control-label" asp-for="Seller.DepartmentID">Department:</label>
                <select class="form-control" asp-for="Seller.DepartmentID" asp-items="@(new SelectList(Model.Departments, "ID", "Name"))"></select>
            </div>
            <div class="col-form-label">
                <input class="btn btn-info" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
