@{
    ViewData["Title"] = "Sales Records";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="SimpleSearch">
            <fieldset>
                <legend>Simple search</legend>
                <div class="row-form-label">
                    <label for="minimumDate" class="col-lg-2 control-label">Minimum Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minimumDate" class="form-control" />
                    </div>
                </div>
                <div class="row-form-label">
                    <label for="maximumDate" class="col-lg-2 control-label">Maximum Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maximumDate" class="form-control" />
                    </div>
                </div>
                <div class="row-form-label">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="GroupingSearch">
            <fieldset>
                <legend>Grouping search</legend>
                <div class="row-form-label">
                    <label for="minimumDate" class="col-lg-2 control-label">Minimum Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minimumDate" class="form-control" />
                    </div>
                </div>
                <div class="row-form-label">
                    <label for="maximumDate" class="col-lg-2 control-label">Maximum Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maximumDate" class="form-control" />
                    </div>
                </div>
                <div class="row-form-label">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>