@model SalesWebMVC.Models.Department

@{
    ViewData["Title"] = "Create";
    ViewData["Description"] = "Create department registration";
}

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Description"]</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="col-form-label">
                <label class="control-label" asp-for="Name">Name:</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="col-form-label">
                <input class="btn btn-primary rounded" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary rounded" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
